<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<%= get_random_image(current_user)%>
				<p><%=current_user.try(:email)%></p>
				<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
				<div id="expanded">
					<p><%=link_to 'Sign out', destroy_user_session_path, :method => :delete %></p>
				</div>
			</div>
		</div>
		<div id="search">
			<h4 class="strong">Room List</h4>
		</div>
		<div id="contacts">
            <ul id="chat-rooms">
                <%@rooms.each do |room|%>
                    <%= render 'room', room: room %>
                <%end%>
            </ul>
		</div>
		<div id="bottom-bar">
            <%= render 'form', room: current_user.rooms.build %>
		</div>
	</div>
	<div class="content">
        <div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
        <div id="user-id" data-user-id="<%= current_user.id %>"></div>
		<div class="contact-profile">
			<%=get_random_image(@room)%>
			<p><%=@room.try(:name)%></p>
		</div>
		<div class="messages">
            <ul>
                 <div id="chat-messages">
                    <% @messages.present? && @messages.each do |message|%>
						<%if message.user == current_user %>
                        	<%=render 'messages/recieved', message: message%>
						<%else%>
							 <%=render 'messages/send', message: message %>
						<%end%>
                    <%end%>
                </div>

            </ul>
		</div>
		<div class="message-input">
			<div class="wrap">
				  <%if @room.present?%>
	                  <%= render 'messages/form', message: Message.new, room: @room %>
                    <%end%>
			</div>
		</div>
	</div>
</div>

<style>
.away{
	float: left;
    background-color: grey;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.online {
    float: left;
    background-color: green;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.offline {
    float: left;
    background-color: red;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
</style>